<h6>Dashboard</h6>
<h4>Welcome {{name}}</h4>
<p>Here are your projects</p>
{{#if projects}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each projects}}
        <tr>
            <td><a href="/projects/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/projects/edit/{{_id}}" class="btn btn-float blue">
                    <i class="large material-icons">mode_edit</i>
                </a>

                <form action="/projects/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any projects</p>
{{/if}}