<h3>Update Developer Profile</h3>
<div class="row">
    <form action="/developers/{{developer._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="username" name="username" value="{{developer.username}}">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="field" name="field" value="{{developer.field}}">
                <label for="field">Field of Study</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="github" name="github" value="{{developer.github}}">
                <label for="github">Github</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="codepen" name="codepen" value="{{developer.codepen}}">
                <label for="codepen">Codepen</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>