<nav class="m-auto grey">
    <div class="nav-wrapper">
        <form action="/developers" method="GET">
            <div class="input-field">
                <input id="field" name="field" type="search" value="{{ searchOptions.field }}" placeholder="field of study">
                <label class="label-icon" for="field"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<h3>DEVELOPERS</h3>
  {{#if value}} {{> _add_btn route='developers'}} {{/if}}
<div class="row">
    {{#each developers}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id "developers"}}}
            </div>
            <div class="card-content center-align">
                <h5>{{username}}</h5>
                <img src="https://robohash.org/{{user._id}}.png?size=100x100" class="circle responsive-img z-depth-2">
                <br>
                <div class="chip">
                  {{field}}
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/developers/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No developers to display</p>
    {{/each}}
</div>
