<h3>DEVELOPERS</h3>
  {{#if value}} {{> _add_btn route='developers'}} {{/if}}
<div class="row">
    {{#each developers}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id "developers"}}}
            </div>
            <div class="card-content center-align">
                <h5>{{username}}</h5>
                <img src="https://robohash.org/{{user._id}}.png?size=100x100" class="circle responsive-img">
                <br>
                <div class="chip">
                  {{field}}
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/developers/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No developers to display</p>
    {{/each}}
</div>
