<nav class="m-auto grey">
    <div class="nav-wrapper">
        <form action="/projects" method="GET">
            <div class="input-field">
                <input id="title" name="title" type="search" value="{{ searchOptions.title }}" placeholder="Title">
                <label class="label-icon" for="title"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<h3>PROJECTS</h3>
{{> _add_btn route='projects'}}
<div class="row">
    {{#each projects}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id "projects"}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                <div class="chip">
                    <img src="https://robohash.org/{{user._id}}.png?size=50x50" class="z-depth-2">
                    <a href="/projects/user/{{user._id}}">{{user.name}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/projects/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No projects to display</p>
    {{/each}}
</div>