<div class="row">
    <div class="col s12 m8">
        <h3>{{project.title}}
            <small>{{{editIcon project.user user project._id "projects" false }}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{project.body}}}
            </div>
        </div>
        <div class="star-rating">
            <input id="star-5" type="radio" name="rating" value="star-5" />
            <label for="star-5" title="5 stars">
                <i class="active fa fa-star" aria-hidden="true"></i>
            </label>
            <input id="star-4" type="radio" name="rating" value="star-4" />
            <label for="star-4" title="4 stars">
                <i class="active fa fa-star" aria-hidden="true"></i>
            </label>
            <input id="star-3" type="radio" name="rating" value="star-3" />
            <label for="star-3" title="3 stars">
                <i class="active fa fa-star" aria-hidden="true"></i>
            </label>
            <input id="star-2" type="radio" name="rating" value="star-2" />
            <label for="star-2" title="2 stars">
                <i class="active fa fa-star" aria-hidden="true"></i>
            </label>
            <input id="star-1" type="radio" name="rating" value="star-1" />
            <label for="star-1" title="1 star">
                <i class="active fa fa-star" aria-hidden="true"></i>
            </label>
        </div>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">attach_money</i></a>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{project.user.name}}</span>
                <img src="https://robohash.org/{{project.user._id}}.png?size=100x100" class="circle responsive-img z-depth-2">
            </div>
            <div class="card-action">
                <a href="/projects/user/{{project.user._id}}">More From {{project.user.name}}</a>
            </div>
        </div>
    </div>
</div>