<div class="row">
    <div class="col s12 m8">
        <h4>{{project.title}}
            <small>{{{editIcon project.user user project._id "projects" false }}}</small>
        </h4>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{project.body}}}
            </div>
        </div>
        <br>
        {{#if value}}
        <a class="waves-effect waves-light btn-floating modal-trigger red" href="#modal1"><i class="material-icons">favorite_border</i></a>
        {{/if}}
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <form action="/projects/rating/{{project._id}}" method="post">
                <div class="modal-content">
                <input type="hidden" name="_method" value="PUT">
                    <p class="range-field">
                        <input type="range" name="rating" min="0" max="5" class="active">
                        <span class="thumb" style="left: 0px; height: 0px; width: 0px; top: 10px; margin-left: -6px;"></span>
                    </p>
                <div class="modal-footer">
                <button type="submit" class="btn red">Rate</button>
                </div>
                </div>
            </form>
        </div>
        <br>
    {{#if value}}
        <form action="/notify/{{project.user._id}}" method="post">
            <input type="text" 
                   name="message" 
                   value="{{name}} interested in investing your project {{project.title}}.
                          Contact info: {{email}} " 
                   hidden>
            <button type="submit" value="Save" class="btn-floating waves-effect waves-light"><i class="material-icons">attach_money</i></button>            
        </form>
    {{/if}}
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{project.user.name}}</span>
                <img src="https://robohash.org/{{project.user._id}}.png?size=100x100" class="circle responsive-img z-depth-2">
            </div>
            <div class="card-action">
                <a href="/projects/user/{{project.user._id}}">More From {{project.user.name}}</a>
            </div>
        </div>
    </div>
</div>

