<div class="center-align">
    <div class="col s6 m2">       
        <div class="card center-align">
            <h4>{{{editIcon investor.user user investor._id "investors" }}}</h4>
            <div class="card-content">
                <div class="card-title">
                    <h3> 
                        <span class="card-title">{{investor.username}}</span>    
                    </h3>
                </div>
                
                <img src="https://robohash.org/{{investor.user._id}}.png?size=200x200" class="circle responsive-img z-depth-2">
            </div>
            <div class="card-action">
                <p>Field of Study : {{investor.field}}</p>
                <p>{{investor.user.email}}</p>
            </div>
        </div>
    </div>
</div>